:root {
    --macrogrey: #353535;
    --macrodark: #1d1d1d;
    --macroblue: #015CB8;
    --mcarolight: #5D5D5D;
}

* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}