
.signup {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
}

.login-header{
    background: black;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--macrodark);
}

.login-header a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin-right: 2rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: var(--macrodark);
    cursor: pointer;
}
.macro-logo  {
    text-decoration: none;
    margin: 1rem 1rem 1rem 2rem;
    height: 4rem;
}

.body-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.background-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--macrogrey);
    border-radius: 10px;
    width: 40rem;
    height: 50rem;
}

.background-signup h1 {
    text-align: center;
    font-size: 2rem;
}

.signup-form, .signup-elements {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: .5rem;
}

.signup-form button {
    background-color: var(--macroblue);
    color: white;
    align-self: center;
    width: 100%;
    margin-top: 1rem;
    height: 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.signup-form button:hover {
    transition: ease-in-out .4s;
    opacity: .8;
}

.signup-elements input {
    color: white;
    background-color: var(--macrodark);
    width: 20rem;
    height: 3rem;
    border-radius: 10px;
    border: solid .5px rgb(67, 67, 67);
    padding-left: 1rem;
}

.signup-elements input:focus {
    outline: none;
    border: solid 1px rgb(93, 93, 93);
}

@media screen and (max-width: 600px) {
    .background-signup {
        width: 90vw;
        height: 75vh;
    }
    
    .login-header a {
        font-size: .9rem;
        padding: .9rem;
    }

    .background-signup h1 {
        font-size: 1.2rem;
    }

    .signup-elements label {
        font-size: .9rem;
    }
    .signup-elements input {
        width: 65vw;
        height: 2rem;
    }
}